.user-sidebar {
    max-width: 446px;
    width: 100%;
    padding: 40px 28px;
    background: #f9fcff;
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;

    .filter {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 26px;
        border-bottom: 1px solid var(--grey-light);

        .id {
            display: flex;
            gap: 16px;
        }
    }

    .guest {
        padding: 26px 0;
        border-bottom: 1px solid var(--grey-light);
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .action-header {
            margin-bottom: 2px;
            color: var(--black-primary);
        }

        .action-block {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .sub-2 {
                color: var(--grey-primary);
            }
        }
    }
}
