.delete-notification{
    width: 560px;
    .modal-content{
        .title{
            font-size: 32px;
            font-weight: 800;
            line-height: 40px;
            letter-spacing: 0.0025em;
        }
        .desc{
            padding: 24px 0 0;
            color: var(--grey-primary);
            strong{
                font-weight: 700;
                color: var(--black-primary);
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            padding: 30px 0 0;
            button{
                margin: 0 8px 0 0;
                font-size: 14px;
                font-weight: 800;
                line-height: 16px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
}